{#
/**
 * @file saved_view.html.twig
 * Default theme implementation to present Saved View data.
 *
 * This template is used when viewing Saved View pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_saved_view()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('saved_view') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
